<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

  <!--
    Debug manifest overlay: set debug-only networkSecurityConfig so that the
    debug build will trust user-installed CAs for the host defined in
    res/xml/network_security_config.xml.
    This file is an overlay applied only to debug builds.
  -->

  <application
    tools:replace="android:networkSecurityConfig"
    android:networkSecurityConfig="@xml/network_security_config" />

</manifest>
